@page
@model Soft.Areas.Quantity.Pages.Measures.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Item</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Item.Id" class="control-label"></label>
                <input asp-for="Item.Id" class="form-control" />
                <span asp-validation-for="Item.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.Name" class="control-label"></label>
                <input asp-for="Item.Name" class="form-control" />
                <span asp-validation-for="Item.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.Code" class="control-label"></label>
                <input asp-for="Item.Code" class="form-control" />
                <span asp-validation-for="Item.Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.Definition" class="control-label"></label>
                <input asp-for="Item.Definition" class="form-control" />
                <span asp-validation-for="Item.Definition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.ValidFrom" class="control-label"></label>
                <input asp-for="Item.ValidFrom" class="form-control" />
                <span asp-validation-for="Item.ValidFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Item.ValidTo" class="control-label"></label>
                <input asp-for="Item.ValidTo" class="form-control" />
                <span asp-validation-for="Item.ValidTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
